.*.swp

._*

.DS_Store

.git

.hg

.npmrc

.lock-wscript

.svn

.wafpickle-*

config.gypi

CVS

npm-debug.log

node_modules/
.yarn/
#files
.pnp.*
index.html
packge-lock.json
yarn-lock
tsconfig.json
#dir
public/
